 div .modal-conteudo {
    border-radius: 25px;
    background: #64D19D;
    padding: 30px;
    width: 222px;
    height: 160px;
    position: absolute;
    z-index:100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    

  }

    .titulo{
    position: top;
    color: aliceblue;
    font-size: 25px;
    
  }

  img {
    height: 60px;
    width: 60px;
    z-index: 150;
    align-items: center;
  }