.modelo {
    width: 280px;
    background-color: #FFF;
    border-radius: 5px;
    text-align: center;
    margin: 8px 0;
}

.modelo .imagem-container img {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modelo .conteudo {
    padding: 8px;
}